<a href="https://colab.research.google.com/github/jayanthreddy4884/letupgrade-python/blob/master/day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 2 Assignment

1. List and its default function

In [6]:
 
st=[1,2,4884,6.5,"jay"]
 
print(st)
 
print(st[2:5])
 
print(st[:4])
 
print(st[2:])
 
print(st[-4:-1])
 
for x in st:
 
      print (x)
 
print (len(st))
 
st.append(10)
 
print(st)
 
st.insert(3,'$')
 
print(st)
 
print(st.pop())
 
print(st)
 
st.remove(2)
 
print(st)
 
del st[2]
 
print (st)
 
str=list(st)
 
print(str) 
 
st2=[6,7,8]
 
st.extend(st2)
 
print (st)
 
st.reverse()
 
print (st)
 
 
 
print (st)
 
print (st.index("jay"))
 
 
del st

[1, 2, 4884, 6.5, 'jay']
[4884, 6.5, 'jay']
[1, 2, 4884, 6.5]
[4884, 6.5, 'jay']
[2, 4884, 6.5]
1
2
4884
6.5
jay
5
[1, 2, 4884, 6.5, 'jay', 10]
[1, 2, 4884, '$', 6.5, 'jay', 10]
10
[1, 2, 4884, '$', 6.5, 'jay']
[1, 4884, '$', 6.5, 'jay']
[1, 4884, 6.5, 'jay']
[1, 4884, 6.5, 'jay']
[1, 4884, 6.5, 'jay', 6, 7, 8]
[8, 7, 6, 'jay', 6.5, 4884, 1]
[8, 7, 6, 'jay', 6.5, 4884, 1]
3

 2. Dictionary and its default functions

In [8]:
 
car = {
 
  "brand": "Ford",
 
  "model": "Mustang",
 
  "year": 1964
 
}
 
print(car)
 
print (car.get("brand"))
 
print (car.items())
 
print (car.keys())
 
print (car.values())
 
car.pop("year")
 
print (car)
 
print (car.popitem())
 
car.update({"color":"black"})
 
print (car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
{'brand': 'Ford', 'model': 'Mustang'}
('model', 'Mustang')
{'brand': 'Ford', 'color': 'black'}

3. Set and its default functions

In [9]:
 
fruits = {"apple", "banana", "cherry"}
 
fruits2 = { "grapes","papaya","mangoo",
 
             "apple","banana","orange","cherry"}
 
str2 ={ "google","messi"}
 
fruits.add("orange")
 
print(fruits)
 
str= fruits.copy()
 
print (str)
 
#print fruits.difference(fruits2)
 
print (fruits.difference(fruits2))
 
fruits.discard("apple")
 
print (fruits)
 
print (fruits.intersection(str))
 
print (fruits.isdisjoint(fruits2))
 
print (fruits2.issuperset(fruits))
 
print (fruits.issubset(fruits2))
 
print (fruits.union(str2))
 
str2.update(fruits)
 
print (str2)

{'apple', 'orange', 'cherry', 'banana'}
{'apple', 'orange', 'cherry', 'banana'}
set()
{'orange', 'cherry', 'banana'}
{'banana', 'orange', 'cherry'}
False
True
True
{'banana', 'messi', 'google', 'orange', 'cherry'}
{'banana', 'messi', 'google', 'orange', 'cherry'}

4.Tuple and its default function

In [10]:
 
str=(1,2,4884,"jay",78.9,2,3,2)
 
print (str)
 
print (str[-5:-2])
 
print (str.count(2))
 
print (str.index(3))

(1, 2, 4884, 'jay', 78.9, 2, 3, 2)
('jay', 78.9, 2)
3
6

5.String & it  default functions

In [12]:
 
#string 
 
a=" Jayanth Reddy "
 
print(a[1])
 
print(a[2:5])
 
print(a[-5:-2])
 
print(len(a))
 
print(a.strip()) 
 
print(a.lower())
 
print(a.upper())
 
print(a.replace("h","J"))
 
print(a.split(" ")) 
 
x = "Jay" in a
 
print(x)
 
b="Pidugu"
 
c=a+b
 
print(c)
 
c=a+":"+b
 
print(c)
 
print(list(enumerate(a)))
 
del a
 
print (a)

J
aya
edd
15
Jayanth Reddy
 jayanth reddy
 JAYANTH REDDY
 JayantJ Reddy
['', 'Jayanth', 'Reddy', '']
True
 Jayanth Reddy Pidugu
 Jayanth Reddy :Pidugu
[(0, ' '), (1, 'J'), (2, 'a'), (3, 'y'), (4, 'a'), (5, 'n'), (6, 't'), (7, 'h'), (8, ' '), (9, 'R'), (10, 'e'), (11, 'd'), (12, 'd'), (13, 'y'), (14, ' ')]

NameError: ignored